.other-profile {
  background-color: #418fde;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.profile-photo {
  display: flex;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  align-items: center;
}
.navbar {
  background-color: #4e2a84;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* max-width: 600px; */
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
  font-family: arial;
  gap: 10px;
  text-align: center;
  text-decoration: none;
  margin: 20px;
  border-radius: 20px;
}

.navbar-home-link {
  text-decoration: none; /* Remove underline */
  color: white; /* Set text color to white */
}

.navbar-home-link:visited {
  color: white; /* Keep the text white even after the home-link is visited */
}

.navbar-home-link:hover {
  color: white; /* Keep the text white when hovering */
}

.navbar-home-link:active {
  color: white; /* Keep the text white when the link is clicked */
}

.connect-button {
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.search-button {
  display: flex;
}


.users-page {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: auto;
  
}



.mini-profile {
  padding-top: 20px;
  margin-left: 20px;
  flex-direction: row;
  background-color: blue;
  color: white;
  width: 150px;
  height: auto;
  border-radius: 20px;
  align-items: center;
  text-align: center;

}